// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user {
	color: #f06d06;
	padding: 10pt;


}


.submit {

	border: solid 1px #f06d06;
  padding: 5px;
  background-clip: content-box; 
  background-color: #ccc;
}
