// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user {
	color: #f06d06;
	padding: 10pt;


}


.submit {

	border: solid 1px #f06d06;
  padding: 10px;
  background-clip: content-box; 
  background-color: #ccc;
}


footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   padding: 10px;
   color: white;
   background: #035F6D;
}

h1 {
	// background-color: #035F6D;
	// display:inline-block;
	color: #035F6D;
}
