// Place all the styles related to the Contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.user {
	color: #f06d06;
	padding: 10pt;
  border: solid black 1px;

}


.submit {

	border: solid 1px #f06d06;
  padding: 10px;
  background-clip: content-box; 
  background-color: #ccc;
  max-width: 600px;
  margin: 0 auto;
}


footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height:30px;
   width:100%;
   padding: 10px;
   color: white;
   background: #035F6D;
}

h1 {
	// background-color: #035F6D;
	// display:inline-block;
	color: #035F6D;
}

.button {
  background-color: #4CAF50; /* Green */
  border: solid black 1px;
  border-radius: 5px;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
}

#user_name {
  font-size: 18px;
  margin-left: 10px;
  padding: 2px;
  border: 1px solid black;
}

#user_email {
  font-size: 18px;
  margin-left: 10px;
  padding: 2px;
  border: 1px solid black;
}

